.wrapper-about{
    background-image: url(../images//bg\ Padar/bgbg1.png);
    object-fit: contain;
    height: 310vh;
    background-attachment: fixed;
}
.wrapper-aboutabout{
        border: 5px solid gray;
        background-color: black;
        /* opacity: 0.8; */
        margin-top: 200px;
}
.tabel{
    margin-bottom: 10px;
}

.tabel2{
    margin-top: 150px;
    margin-left: 150px;
}

@media only screen and (max-width: 600px){
    .wrapper-about{
        background-image: url(../images//bg\ Padar/bgbg1.png);
        object-fit: contain;
        height: 900vh;
        background-attachment: fixed;
    }
    .tabel2{
        
      margin-left: 0;
    }
   
}




