.wrapper-about{
    background-image: url(../images//bg\ Padar/bgbg1.png);
    object-fit: contain;
    height: 1600px;
    background-attachment: fixed;
}
.wrapper-aboutabout{
        border: 5px solid gray;
        background-color: black;
        /* opacity: 0.8; */
        margin-top: 200px;
}
.tabel{
    margin-bottom: 10px;
}

.content-synopsis{
    font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.pembatas2{
    border: 1px solid whitesmoke;
    width: 80%;

}

@media only screen and (max-width: 600px){
    .wrapper-about{
        background-image: url(../images//bg\ Padar/bgbg1.png);
        object-fit: contain;
        height: 2800px;
        background-attachment: fixed;
    }
    .tabel2{
        
      margin-left: 0;
    }
   
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .wrapper-about{
        background-image: url(../images//bg\ Padar/bgbg1.png);
        object-fit: contain;
        height: 1900px;
        background-attachment: fixed;
    }
    
} 




