.wrapper-about{
    background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png');
    object-fit: contain;
    height: 1600px;
    background-attachment: fixed;
    /* margin-top: -130px; */
}
.wrapper-aboutabout{
        border: 5px solid gray;
        background-color: black;
        /* opacity: 0.8; */
        margin-top: 200px;
}
.tabel{
    margin-bottom: 10px;
}

.content-synopsis{
    font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.pembatas2{
    border: 1px solid whitesmoke;
    width: 80%;


}

@media only screen and (max-width: 600px){
    .wrapper-about{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png');
        object-fit: contain;
        height: 3000px;
        background-attachment: fixed;
    }
    .tabel2{
        
      margin-left: 0;
    }
   
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .wrapper-about{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png');
        object-fit: contain;
        height: 1900px;
        background-attachment: fixed;
    }
    
} 

@media (min-width: 414px) and (max-width: 736px) { 
    .wrapper-about{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png');
        object-fit: contain;
        height: 3000px;
        background-attachment: fixed;
    }
    
} 



@media only screen and (max-width: 600px){
    .wrapper-about{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png');
        object-fit: contain;
        height: 2800px;
        background-attachment: fixed;
        margin-top: -130px;
    }
    .tabel2{
        
      margin-left: 0;
    }
   
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .wrapper-about{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png');
        object-fit: contain;
        height: 1900px;
        background-attachment: fixed;
    }
    
} 




