body{
    margin: 0;
}

.containerSlide {
    display: flex;
    align-self: center;
    background-color: brown;
    margin-bottom: 88px;
    /* justify-content: center; */
    /* width: 1000px; */
    /* padding-top: 300px; */
    /* margin-left: 100px; */
    /* background-color: pink; */
}

.each-slide img{
    width: 100%;
    height: 88vh;
    object-fit: cover;
}
.react-slideshow-wrapper.slide{
    height: 90vh;
} 
.react-slideshow-container {
    /* margin-left: 2.5%; */
    /* margin-top: 2.5%; */
    width: 100%;
    margin-top: 0;
}
.logo{
    /* background-color: pink; */
    /* opacity: 0.8; */
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    
  

}

.logo-img{
    /* background-color: brown; */
    width: 30%;
    margin-left: 35%;
    /* margin-top: -20%; */
    margin-top: -40px;
    
}

.padar{
    position: absolute;
    z-index: 1;
    /* margin-top: 200px; */
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: -5px;
}
.padar img{
    width: 500px;
    height: 500px;
}
.padar-trailer{
    position: absolute;
    z-index: 1;
    /* margin-top: 200px; */
    height: 100%;
    /* align-items: flex-end; */
    width: 200%;
    /* margin-left: 100px;
    margin-top: -100px; */
}
.teks-padar{
    margin-left: 100px;
}
.btn-trailer{
    background-color: red;
    border: none;
    border-radius: 15px;
    color: white;
    width: 200px;
    height: 50px;
    padding-top: 15px;
}
.teks-trailer{
     color:#f2f2f0;
    /* font-family: 'Medula One'; */
    font-size: 50px;
    margin-bottom: 100px;
    /* text-shadow: 2px 2px white; */
    /* font-weight: 999; */
}
.sugar{
    position: absolute;
    z-index: 1;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
    height: 90%;
    width: 5%;
    margin-left: 300px;
}
.tekstrailer{
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 2px 2px black;
    font-weight: bold;
}


@media only screen and (max-width: 600px){
    .react-slideshow-container {
    width: 100vw;
    margin:0;
  
    }
    .logo-img{
        /* display: none; */
        width: 240px;
        margin: auto;
        /* background-color: tomato; */
        /* margin-left: 100px;
        margin-right: 100px; */
        /* margin-bottom: 500px; */
        margin-top: 6vh;
       
    }
    .padar{
       display: flex;
       justify-content: center;
    }
    .padar img{
        width: 300px;
        height: 300px;
        margin-left: 40px;
    }
    .sugar{
        justify-content: center;
        margin-left: 80px;
        margin-top: 160px;
        width: 100%;
    }
    .tekstrailer{
        color:#f2f2f0;
       /* font-family: 'Medula One'; */
       font-size: 40px;
       margin-bottom: 5px;
       /* text-shadow: 2px 2px white; */
       /* font-weight: 999; */
   }
  
 
}
@media (min-width: 481px) and (max-width: 1024px) { 
    body { 
        background-color: yellow; 
    }
    .logo{
        margin-top:50px;
        margin-left:5px;
    }
    
} 