.wrapper-karakter{
    background-image: url(../images/bg\ Padar/BG03.png);
    background-attachment: fixed;
    height: 1600px;
}
.content-karakter{
    border:5px solid gray;
    border-radius: 15px;
    background-color: black;
    margin-top: 10px;
    opacity: 0.7;
    font-size: 14px;
    padding-right: 10px;
    line-height: 200%;
    text-align: justify;
} 
.karakter{
    width: 300px;
}

.detaildetail{
    padding-top: 60px;
    padding-bottom: 60px;
   
}
.juduljudul{
    font-size: 20px;
}
.kontent-karakter{
    display: flex;
    flex-direction: row;
}
.grappy22{
    margin-top: 40px;
}
.detail-content{
    padding-right: 15px;
}

@media only screen and (max-width: 640px){
    .karakter {
        width: 150%;
    }
    .padarpadar{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }
    .img-karakter {
      margin-left: 80px;
    }
     .content-karakter{
        margin-left: -15px;
        margin-right: -15px;
    }
    .wrapper-karakter{
        background-image: url(../images/bg\ Padar/BG03.png);
        background-attachment: fixed;
        height: 2100px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) { 
     .detaildetail{
         /* margin-left: 90px;
         margin-right: 50px;
         text-align: left; */
         display: flex;
         justify-content: center;
         flex-direction: column;
     }
     .wrapper-karakter{
        background-image: url(../images/bg\ Padar/BG03.png);
        background-attachment: fixed;
        height: 1500px;
    }
}