.wrapper-karakter{
    background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243878/images/BG03_b568gi.png');
    background-attachment: fixed;
    height: 1600px;
    /* margin-top: -130px; */

}
.content-karakter{
    border:5px solid gray;
    border-radius: 15px;
    background-color: black;
    margin-top: 10px;
    opacity: 0.7;
    font-size: 14px;
    padding-right: 10px;
    line-height: 200%;
    text-align: justify;
} 
.karakter{
    width: 300px;
}

.detaildetail{
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.detail-content{
    padding-right: 20px;
}

.juduljudul{
    font-size: 20px;
}
.kontent-karakter{
    display: flex;
    flex-direction: row;
}
.grappy22{
    margin-top: 40px;
}


@media only screen and (max-width: 640px){
    .karakter {
        width: 150%;
    }
    .padarpadar{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }
    .img-karakter {
      margin-left: 80px;
    }
     .content-karakter{
        margin-left: -15px;
        margin-right: -15px;
    }
    .wrapper-karakter{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243878/images/BG03_b568gi.png');
        background-attachment: fixed;
        height: 2500px;
        /* margin-top: -130px; */

}
}

@media (min-width: 768px) and (max-width: 1024px) { 
     .detaildetail{
         /* margin-left: 90px;
         margin-right: 50px;
         text-align: left; */
         display: flex;
         justify-content: center;
         flex-direction: column;
     }
     .wrapper-karakter{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243878/images/BG03_b568gi.png');
        background-attachment: fixed;
        height: 1500px;
    }

}
@media (min-width: 414px) and (max-width: 736px) { 
    .wrapper-karakter{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243878/images/BG03_b568gi.png');
        background-attachment: fixed;
        height: 2300px;
    }
   
}

@media (min-width: 600px) and (max-width: 800px) { 
    .wrapper-karakter{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243878/images/BG03_b568gi.png');
        background-attachment: fixed;
        height: 1800px;
    }
   

}