.wrapper-merch{
    background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
    background-attachment: fixed;
    height: 1500px;
}
.boxset{
    border: 3px solid gray;
    /* border-radius: 1px; */
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 15px;
    margin-left: 50px; */
    margin-top: 135px;
    margin-bottom: 15px;
}
.stock{
    margin-bottom: 15px;
}
.btn-shop{
    margin-top: 30px;
}
.tambah{
    margin-right: 15px;
}
.garis-merch{
    border: 1px solid white;
}
.pembatas {
    border: 1px solid red;
    width: 50px;
}
.rumah{
    cursor: pointer;
}

.keterangan {
    /* margin-left:100px; */
    margin-top: 10px;
    border: 3px solid gray;
    background: white;
    color: #000;
    border-radius: 15px;
    width: 500px;
}
.slick-slider {
    width: 200px;
    height: 200px;
}
.img1 img{
    height: 200px;
    width: 200px;
}
.slick-side {
    position: relative;
  }
  .Activated_overlay__3ey1P{
      background-color: transparent !important;
  }
  
.Activated_content__2QBG5{
    display: flex;
    justify-content: center;
    object-fit: contain !important;
}
.img-merch{
    object-fit: contain;
}
.img1{
object-fit: cover;
}
.content {
    border: 5px solid gray;
    background-color: black;
    border-radius: 15px;
    height: 500px;
    display: flex;
    justify-content: center;
}
/* .content{
   height: 352px;
} */
.detail{
    height:420px;
    margin-top: 50px;
    margin-left: 50px;
}
.kontentkontent{
    margin-left: 25px;
    margin-right: 25px;
}


.tambah{
    background-color: gray;
    border: none;
    border-radius: 15px;
    color: white;
    width: 20%;
    padding-top:5px;
    padding-bottom: 5px;
   
}
.slick-arrow {
    background-color: gray;
    border-radius: 15px;
}
/* .kontentkontentkontent{
    margin-bottom: 100px;
} */
.boxsetboxset{
    margin-top: 25px;
}
.batas11{
    background-color: gray;
}

@media only screen and (max-width: 600px){
    .keterangan {
        width: 100%;
    }
    .content {
        display: flex;
        align-items: flex-start;
        /* padding-left: 10px; */
    }
    .boxset{
        /* margin-left: 50px; */
        /* margin-right:50px ; */
        margin-bottom: 40px;
    }
    .detail{
        /* padding-left: 10px; */
        padding: 25px;
    }
    .kontentkontent{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    .tambah{
     
        border: none;
        border-radius: 15px;
        color: white;
        width: 50%;
        padding-top:5px;
        padding-bottom: 5px;
       
    }
    .content {

        border-radius: 15px;
        height: 950px;
    }


    .wrapper-merch{
 
    height: 1200px;
}

.detail{
    margin: 0;
}
.wrapper-merch{
    background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
    background-attachment: fixed;
    height: 2600px;
    /* margin-top: -130px; */
}
}

@media (min-width: 600px) and (max-width: 1024px) { 
   .wrapper-merch{
       margin-bottom: 25px;
   }
   .keterangan {
    /* margin-left:100px; */
    margin-top: 10px;
    border: 3px solid gray;
    background: white;
    color: #000;
    border-radius: 15px;
    width: 347px;
}
    .kontentkontentkontent{
        display: flex;
        justify-content: center;
         width: 100%;
       
    }
    .kontentkontent{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .wrapper-merch{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
        background-attachment: fixed;
        height: 1220px;
    }
  
   
}

@media (min-width: 1024px) and (max-width: 1366px) { 
    .wrapper-merch{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
        background-attachment: fixed;
        height: 1300px;
    }
    
 }

 @media (min-width: 768px) and (max-width: 1024px) { 
    .wrapper-merch{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
        background-attachment: fixed;
        height: 3000px;
    }
    .content{
        height: 900px;
    }
    

 }

 @media (min-width: 1024px) and (max-width: 1366px) { 
    .wrapper-merch{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
        background-attachment: fixed;
        height: 1300px;
    }
    
 }

 @media (min-width: 1024px) and (max-width: 1366px) { 
    .wrapper-merch{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
        background-attachment: fixed;
        height: 1600px;
    }
    
 }

 @media (min-width: 1024px) and (max-width: 1366px) { 
    .wrapper-merch{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
        background-attachment: fixed;
        height: 1300px;
    }
    
 }

 @media (min-width: 414px) and (max-width: 736px) { 
    .wrapper-merch{
        background-image: url('https://res.cloudinary.com/divsysf5b/image/upload/v1583243868/images/BG01_uhf0y3.png'); 
        background-attachment: fixed;
        height: 5000px;
    }
    .content {
        border: 5px solid gray;
        background-color: black;
        border-radius: 15px;
        height: 900px;
        display: flex;
        justify-content: center;
    }
   
 }