.wrapper-header{
    display: flex;
    justify-content: space-between;

}
.home{
    padding-top: 200px;
    padding-left: 100px;
    /* padding-right: 50px; */
}
.wrapper-content{
    margin-top: 200px;
    
}


@media only screen and (max-width: 600px){
    .wrapper-content{
        margin-top: 130px;
        
    }
}